

.blue-text {

    background-color: rgb(70, 190, 255);
    display: inline;
    padding: 2px;
    line-height: 26px;

}
.red-text {

    background-color: rgb(255, 68, 68);
    display: inline;
    padding: 2px;
    line-height: 26px;

}
.green-text {

    background-color: rgb(59, 255, 62);
    display: inline;
    padding: 2px;
    line-height: 26px;

}
.yellow-text {

    background-color: rgb(255, 252, 59);
    display: inline;
    padding: 2px;
    line-height: 26px;

}