

.banner {

    width: var(--content-width);
    height: 50px;
    background-color: rgb(95, 95, 95);
    border-radius: 10px;
    border: 3px var(--base-orange) solid;
    box-shadow: 0px 0px 10px var(--base-orange);
    margin-left: calc((100% - var(--content-width))/2);
    margin-bottom: 20px;
    overflow: hidden;

    background-image: url(assets/images/landing/banner.png);
    object-fit: cover;
    background-position-x: center;

}


.content h1 {

    width: 100%;
    color: white;
    text-align: center;

}

.lang-text {
    width: 100%;
}

.welcome-text {

    width: 100%;
    text-align: center;
    color: white;
    margin-top: 20px;

}
.welcome-text p {

    color: white;
    margin-top: 0;

}

.lang-btn {

    aspect-ratio: 5/1;
    width: 300px;
    background-size: cover;
    background-color: rgba(0,0,0,0);
    border: none;
    filter: grayscale(100);
    margin-left: calc(50% - (300px/2));

}

#deutsch-btn {

    background-image: url(assets/images/landing/deutsch.png);

}
#english-btn {

    background-image: url(assets/images/landing/english.png);

}

.lang-btn:hover {
    
    filter: grayscale(0);
    cursor: pointer;

}

.enter-btn {
    
    width: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
    text-align: center;
}

.enter-btn img {
    background-size: cover;
    width: 50%;
}

@media (width < 1100px) {

    .lang-btn {
        margin-right: calc(50% - (300px/2));
    }
    
}

@media (width < 900px) {

    .enter-btn img {

        width: 80%;

    }
    
}


@media (width < 700px) {

    
    .banner {

        border: none;
        box-shadow: none;
    }
    
}

@media (width < 500px) {

    .enter-btn img {
        width: 100%;
    }
    
}