/*General*/


:root {

    --padding: 10px;
    --content-padding: 20px;
    --content-width: 1400px;
    --nav-bar-height: 50px;
    --nav-item-width: ;

    --base-orange: rgb(252, 180, 110);
    --base-accent: color-mix(in srgb, var(--base-orange) 60%, purple 40%);
    --background-color: rgba(95, 95, 95, 0.5);

    --bg-animation-speed: 12s;

}

::selection {

    background-color: purple;
    color: white;

}



a {
    color: black;
    font-family: sans-serif;
}

h1 {

    font-size: x-large;
    color: black;
    font-family: sans-serif;
    margin:0;

}

p{

    font-size: 1.125em;
    color: black;
    font-family: sans-serif;

}

html{

    scroll-behavior: smooth;
}

body {

    background-image: url(assets/images/bg.gif);
    animation: background var(--bg-animation-speed) linear infinite;
    background-color: rgb(0, 1, 11);
    padding: var(--padding);
    /*cursor: url("pics/testcur.png"), default;*/
    

}

.hidden {

    display: none;

}

u {

    text-decoration-style: dashed;

}

.primary-button {

    color: var(--base-accent);
    border-color: var(--base-accent);
    border-radius: 50px;
    border-style: solid;
    padding: 0.1em 0.2em;
    font-size: 1.125em;

    background-color: inherit;
    background-image: linear-gradient(to right,var(--base-accent) 20%, rgba(0,0,0,0) 80%);
    background-size: 600%;
    background-position: right;

    transition: background-position 500ms, color 500ms;

}

.primary-button:hover {

    cursor: pointer;
    background-position: left;
    
    color: white;

}


/*Content*/

.content {

    width: var(--content-width);
    background-color: var(--background-color);
    border-radius: 10px;
    border: 3px var(--base-orange) solid;
    box-shadow: 0px 0px 10px var(--base-orange);
    padding: var(--content-padding);
    margin-left: calc((100% - var(--content-width))/2 - var(--content-padding));
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;

}

.left-column,
.right-column {

    width: calc(50% - var(--padding));
    padding-bottom: var(--content-padding);

}

.text {

    width: 615px;
    display: inline-block;

    border-radius: 20px;
    background-color: var(--base-orange);
    margin-bottom: 20px;
    padding: var(--padding);


}

.box-shadow {

    box-shadow: 10px 10px 0px var(--base-accent);

}

.small-text {

    font-size: 1em;
    font-weight: bold;

}


/*Navigation*/

.nav-bar {

    width: var(--content-width);
    background-color: var(--background-color);
    border-radius: 10px;
    border: 3px var(--base-orange) solid;
    box-shadow: 0px 0px 10px var(--base-orange);
    padding-inline: var(--content-padding);
    min-height: var(--nav-bar-height);
    margin-left: calc((100% - var(--content-width))/2 - var(--content-padding));
    margin-bottom: var(--padding);

}
.nav-bar ul {

    text-decoration: none;
    color: white;
    font-size: 1.125em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding-top: calc(var(--nav-bar-height)/4);
    padding-left: 0;

}
.nav-item {

    display: inline;
    text-align: justify;
    width: var(--nav-item-width);
    text-align: center;
    margin-bottom: 3px;

}
.nav-bar > ul > ul {
    display: none;
}
.nav-item a {

    color: white;
    text-decoration: none;

}
.nav-item:hover a {

    color: var(--base-orange);
    cursor: pointer;

}
.active a {

    position: relative;

}
.active a::after {
    
    content: "";
    position: absolute;
    left: 0;
    bottom: -1;
    height: 2.5px;
    width: 100%;
    background-color: var(--base-orange);

    scale: 1 1;

}


/* Dynamic/Responsive Website */

@media (width < 1600px) {

    :root {

        --content-width: 1000px;

    }


    .text {

        width: 450px;

    }

    /* Old version, i don't know if I want to change

    .left-column,
    .right-column {

        width: 100%;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;

    }

    .content {

        display: inline-block;

    }
    */
}

@media (width < 1100px) {

    :root {

        --content-width:90%;

    }

    .left-column,
    .right-column {

        width: 100%;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;

    }

    .content {

        display: inline-block;

    }
    .text {

        width: 615px;

    }
    
}

@media (width < 700px) {

    :root {

        --content-width:100%;

    }
    body {

        padding: 0px;
        margin: 0px;

    }

    
    .content,
    .nav-bar {

        margin-left: 0;
        width: auto;
        border: none;
        box-shadow: none;
        background-color: var(--background-color);

    }

    .text {

        width: 90%;

    }
    
}

@media (width < 615px) {

    .text {

        width: 100%;

    }
    
}

@keyframes background {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: 495px 495px;
    }
  }